body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 200px;
  margin: 1em;
  background-color :rgb(206, 158, 235);
}

.header {
  padding: 1em;
  align-items: center;
}

.footer {
  padding: 1em;
 left: 0;
 bottom: 0;
 width: 100%;
 color: white;
 text-align: center;
}

.clearfix {
overflow: auto;
zoom: 1;
padding-left: 3%;
padding-right: 3%;
}
.content {
  padding: 1em;
}
@media(min-width:1000px){
  .side-bar {
      float: left;
      width: 25%;
  }
}


* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 5px;
}

.row::after {
content: "";
clear: both;
display: table;
}
#languages {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#languages  td, #languages  th {
border: 1px solid #ddd;
padding: 8px;
}

#languages  tr:nth-child(even){background-color: #f2f2f2;}

#languages  tr:hover {background-color: #ddd;}

#languages th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #9966a3;
color: white;
}
.imy{
  float: left;
  padding-bottom: 25px;
  padding-right: 25px;
}

* {
box-sizing: border-box;
}
.imy3{
  float: right;
  padding-right: 25px;
  padding-left: 25px;
}
* {
box-sizing: border-box;
}
.imy2{
  float: right;
  padding-right: 25px;
  padding-left: 25px;
}
* {
box-sizing: border-box;
}
.imy1{
  float: right;
  padding-right: 25px;
  padding-left: 25px;

}
* {
box-sizing: border-box;

}

.column {
float: left;
width: 33.33%;
padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.column {
  width: 100%;
}
.imy2{
  float: left;
  width: 50%;
}
.imy3{
  float: right;
  width: 50%;
}
.imy1{
  float: right;
  width: 50%;

  margin-right: 10px;
}
div.row {
  overflow: auto;
}
.citytxt{
overflow: auto;
}
}


.btnf{
  background-color: rgb(139, 120, 139);
}
.btnf a{
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}
.footer{
font-size: small;
}
.name{
float:left;
padding-right: 25px;
font-weight: bolder;
font-size: 15px;
}
.city{
text-align: center;
}
.hc{
text-align: center;
}
.place{
  padding-bottom: 50px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 45em) {  /* 720px */
  .myname{
    padding-left: 300px;
  }
}