.container{
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 200px;
    margin: 1em;
    /*grid-template-columns: 40% 60%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em; */
    
}
body{
    background-color :rgb(206, 158, 235);
}
.first{
    display: grid;
    grid-template-columns: 40% 60%;
}
.name{
    
    float: right;
    padding-left: 30%;
    font-size: 40px;
}
.img1{
    float: left;
    padding-right: 40%;


}
.imy{
    float: left;
}

.city{
    display: grid;
    grid-template-columns: 30% 70%;
}
.row{
    display: grid;
    grid-template-columns: 33.33%  33.33%  33.33%;

}
#languages {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #languages  td, #languages  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #languages  tr:nth-child(even){background-color: #f2f2f2;}
  
  #languages  tr:hover {background-color: #ddd;}
  
  #languages th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9966a3;
    color: white;


@media screen and (max-width: 600px) {

  }
  
    