/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  padding-right: 25px;
  font-size: 100%;
  background-color :rgb(206, 158, 235);
  margin-bottom: 200px;
  margin-left: 100px;
  margin: 1em;
}
#languages {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#languages  td, #languages  th {
  border: 1px solid #ddd;
  padding: 8px;
}

#languages  tr:nth-child(even){background-color: #f2f2f2;}

#languages  tr:hover {background-color: #ddd;}

#languages th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9966a3;
  color: white;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}


@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
  .imy2{
    float: left;
    width: 50%;
  }
  .imy3{
    float: right;
    width: 50%;
  }
  .imy1{
    float: right;
    width: 50%;

    margin-right: 10px;
  }
  div.row {
    overflow: auto;
}
.txt{
  float: right;
}
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* fgjhkdfghjklm,;'.mkjf;skf'a;l;LsdoujpekASKALKJD;LL,DAJEIIW'E;'E;UWOEJKW;*/
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
#languages {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#languages  td, #languages  th {
  border: 1px solid #ddd;
  padding: 8px;
}

#languages  tr:nth-child(even){background-color: #f2f2f2;}

#languages  tr:hover {background-color: #ddd;}

#languages th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9966a3;
  color: white;
}
.imy{
    float: left;
    padding-bottom: 25px;
    padding-right: 5px;
}

* {
  box-sizing: border-box;
}
.imy3{
    float: right;
    padding-right: 25px;
    padding-left: 25px;
}
* {
  box-sizing: border-box;
}
.imy2{
    float: right;
    padding-right: 25px;
    padding-left: 25px;
}
* {
  box-sizing: border-box;
}
.imy1{
    float: right;
    padding-right: 25px;
    padding-left: 25px;

}
* {
  box-sizing: border-box;
  
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
  .imy2{
    float: left;
    width: 50%;
  }
  .imy3{
    float: right;
    width: 50%;
  }
  .imy1{
    float: right;
    width: 50%;

    margin-right: 10px;
  }
  div.row {
    overflow: auto;
}
.citytxt{
  overflow: auto;
}
}


.btnf{
    background-color: rgb(139, 120, 139);
}
.btnf a{
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.footer{
  font-size: small;
}
.name{
  float:left;
  padding-right: 25px;
  font-weight: bolder;
  font-size: 15px;
}

.hc{
  text-align: center;
}

.hc2{
  text-align: center;
}

.hc1{
  text-align: center;
}
.place{
  padding-bottom: 50px;
}
.myname{
  font-size: 50px;
}
@media only screen and (min-width: 45em) {  /* 720px */
  .myname{
    padding-left: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .myname {
 font-size: 15px;
  }
  .imy{
    width: 500px;
  }
  .selfie{
    width: 150px;
    padding-top: 50px;
}
}
  .heading1{
    text-align: center;
  }
  .selfie { position: relative; top: -80px; }
